
.app-header {
  background-color: #282c34;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.nav-button {
  margin-left: 12px;
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 15px;
  text-decoration: none;
}

.selected-nav-button {
  color: palevioletred;
}

