.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    border: 1px solid black;
    margin: 12px;
}

.reset {
    position: absolute;
    right: 12px;
    margin-top: 5px;
}

.fishButton {
    margin-top: 20px;
    background-color: pink;
    width: auto;
}

.catachTip {
    font-size: 12px;
    color: pink;
}